<!-- home.html -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 sidebar">
			<h3>Value</h3>
			<p><em>Enter the value of each system</em></p>
			<table class="control">
				<tbody>
				<tr>
					<td>Avios</td><td><input ng-change="updateAvios();" class="form-control" type="number" step="any" min="0" ng-model="control.avios" ng-model="control.avios" step="any" ng-model="control.avios" name="avios"></td><td>p/point</td>
				</tr>
				<tr>
					<td>Amex MR</td><td><input ng-change="updateAmex();" class="form-control" type="number" step="any" min="0" ng-model="control.amex"  name="amexMR"></td><td>p/point</td>
				</tr>
				<tr>
					<td>SPG</td><td><input ng-change="updateSpg();" class="form-control" type="number" step="any" min="0" ng-model="control.spg"  name="spg"></td><td>p/point</td>
				</tr>
				<tr>
					<td>Virgin Flying Club</td><td><input ng-change="updateVirgin();" class="form-control" type="number" step="any" min="0" ng-model="control.virgin" name="virgin"></td><td>p/point</td>
				</tr>
				<tr>
					<td>Marriott Rewards</td><td><input ng-change="updateMarriott();"class="form-control" type="number" step="any" min="0" ng-model="control.marriott" name="marriott"></td><td>p/point</td>
				</tr>
				<tr>
					<td>IHG Rewards</td><td><input ng-change="updateIhg();" class="form-control" type="number" step="any" min="0" ng-model="control.ihg" name="ihg"></td><td>p/point</td>
				</tr>
				<tr>
					<td>Hilton</td><td><input ng-change="updateHilton();" class="form-control" type="number" step="any" min="0" ng-model="control.hilton" name="hilton"></td><td>&pound;/night</td>
				</tr>
			</tbody>
			</table>

			<h3>Filters</h3>
			<p><em>Select the links to show only cards from a particular category</em></p>
			<ul class="nav nav-sidebar">
				<li ng-repeat="filter in filters" ng-click="selectFilter($index);updateStatus(filter.filterId)" ng-class="{active: $index===selectedIndex}"><a href="#">{{ filter.anchor }}</a></li>
	        </ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 main">

			<h2 class="sub-header">Recommended Cards</h2>
			<div class="row placeholders">
				<div class="col-xs-6 col-sm-3 placeholder" ng-repeat="card in cards | orderBy:'-bonusValue'" ng-if="$index < 4">
				<a href="{{ card.cardURL }}" title="{{ card.cardName }}"><img height="177" width="284" src="images/{{ card.imageName }}" class="img-responsive" alt="{{ card.cardName }}"></a>
				<h4>{{ card.cardName }}</h4>
				<span class="text-muted">{{ card.cardBonus }} {{ card.bonusCurrencyVisual }}</span>
				</div>
			</div>



			<h2 class="sub-header">Compare Cards</h2>
	        <div class="table-responsive">
	          <table class="table table-striped">
	            <thead>
	              <tr>
	                <th colspan="2"><a href="" ng-click="predicate = '-cardName'; reverse=!reverse;">Credit Card</a></th>
	                <th><a href="" ng-click="predicate = 'cardFee'; reverse=!reverse;">Fee</a></th>
	                <th><a href="" ng-click="predicate = 'bonusValue'; reverse=!reverse;">Bonus</a></th>
	                <th><a href="" ng-click="predicate = 'minSpend'; reverse=!reverse;">Minimum Spend</a></th>
	                <th><a href="" ng-click="predicate = '-spendTimeLimit'; reverse=false;">Time Limit</a></th>
	                <th>Application Link</th>

	              </tr>
	            </thead>
	            <tbody>
	              <tr ng-repeat="card in cards | orderBy:predicate:reverse" ng-if="cardFilter(card.cardStatus)">
	                <td><img height="100" width="160" src="images/{{ card.imageName }}" class="img-responsive" alt="{{ card.cardName }}"></td>
	                <td>{{ card.cardName }}</td>
	                <td>{{ card.cardFeeSymbol }}{{ card.cardFeeVisual }}</td>
	                <td>{{ card.cardBonusVisual }} {{ card.bonusCurrencyVisual }}</td>
	                <td>{{ card.minSpendSymbol }}{{ card.minSpendVisual }}</td>
	                <td>{{ card.spendTimeLimitVisual }} {{ card.spendTimeLimitDays }}</td>
	                <td><a href="{{ card.cardURL }}" title="{{ card.cardName }}">Apply now</a></td>
	              </tr>
	            </tbody>
	          </table>
	          <footer>
		          <p><small>* Includes Hilton, Conrad and Waldorf-Astoria properties</small></p>
		          <p><small>Copyright &copy; <a href="http://www.johncpeden.com" title="John Peden Ltd">John Peden Ltd</a></small></p>
		      </footer>
	        </div>
		</div>
	</div>
</div>