
<!DOCTYPE html>
<html lang="en" ng-app="creditcardApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		  <title>Credit Card Airline Points</title>

		<!-- Bootstrap core CSS -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
    	<link href="dashboard.css" rel="stylesheet">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body ng-controller="creditcardCtrl">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://www.creditcardairlinepoints.com">Credit Card Airline Points</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="#">All Cards <span class="sr-only">(current)</span></a></li>
						<li><a href="#">American Express</a></li>
						<li><a href="#">Avios</a></li>
						<li><a href="#">No Fee</a></li>
						<li><a href="#">No Spend</a></li>
					</ul>		
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<h2 class="sub-header">Recommended Cards</h2>
					<div class="row placeholders">
						<div class="col-xs-6 col-sm-3 placeholder" ng-repeat="card in cards" ng-if="$index < 4">
						<a href="{{ card.cardURL }}" title="{{ card.cardName }}"><img height="177" width="284" src="images/{{ card.imageName }}" class="img-responsive" alt="{{ card.cardName }}"></a>
						<h4>{{ card.cardName }}</h4>
						<span class="text-muted">{{ card.cardBonus }} {{ card.bonusCurrency }}</span>
						</div>
					</div>

					<h2 class="sub-header">Compare Cards</h2>
			        <div class="table-responsive">
			          <table class="table table-striped">
			            <thead>
			              <tr>
			                <th colspan="2">Credit Card</th>
			                <th>Fee</th>
			                <th>Bonus</th>
			                <th>Minimum Spend</th>
			                <th>Time Limit</th>
			                <th>Application Link</th>
			              </tr>
			            </thead>
			            <tbody>
			              <tr ng-repeat="card in cards">
			                <td><img height="100" width="160" src="images/{{ card.imageName }}" class="img-responsive" alt="{{ card.cardName }}"></td>
			                <td>{{ card.cardName }}</td>
			                <td>&pound;{{ card.cardFree }} </td>
			                <td>{{ card.cardBonus }} {{ card.bonusCurrency }}</td>
			                <td>&pound;{{ card.minSpend }}</td>
			                <td>{{ card.spendTimeLimit }} days</td>
			                <td><a href="{{ card.cardURL }}" title="{{ card.cardName }}">Apply now</a></td>
			              </tr>
			            </tbody>
			          </table>
			          <p><small>Copyright &copy; <a href="http://www.johncpeden.com" title="John Peden Ltd">John Peden Ltd</a></small></p>
			        </div>
				</div>
			</div>
		</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	</body>
</html>
