
<!DOCTYPE html>
<html lang="en" ng-app="creditcardApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		  <title>Credit Card Airline Points</title>

		<!-- Bootstrap core CSS -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
    	<link href="dashboard.css" rel="stylesheet">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="app.js"></script>
	</head>

	<body ng-controller="creditcardCtrl" ng-init="init()">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://www.creditcardairlinepoints.com">Credit Card Airline Points</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">FAQ</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 sidebar">
					<h3>Control</h3>
					<p><em>Enter the value of a single point</em></p>
					<table class="control">
						<tbody>
						<tr>
							<td>Avios</td><td><input ng-change="updateAvios();" class="form-control" type="number" step="any" min="0" ng-model="control.avios" ng-model="control.avios" step="any" ng-model="control.avios" name="avios"></td><td>p/point</td>
						</tr>
						<tr>
							<td>Amex MR</td><td><input ng-change="updateAmex();" class="form-control" type="number" step="any" min="0" ng-model="control.amex"  name="amexMR"></td><td>p/point</td>
						</tr>
						<tr>
							<td>SPG</td><td><input ng-change="updateSpg();" class="form-control" type="number" step="any" min="0" ng-model="control.spg"  name="spg"></td><td>p/point</td>
						</tr>
						<tr>
							<td>Virgin Flying Club</td><td><input ng-change="updateVirgin();" class="form-control" type="number" step="any" min="0" ng-model="control.virgin" name="virgin"></td><td>p/point</td>
						</tr>
						<tr>
							<td>Marriott Rewards</td><td><input ng-change="updateMarriott();"class="form-control" type="number" step="any" min="0" ng-model="control.marriott" name="marriott"></td><td>p/point</td>
						</tr>
						<tr>
							<td>IHG Rewards</td><td><input ng-change="updateIhg();" class="form-control" type="number" step="any" min="0" ng-model="control.ihg" name="ihg"></td><td>p/point</td>
						</tr>
						<tr>
							<td>Hilton</td><td><input ng-change="updateHilton();" class="form-control" type="number" step="any" min="0" ng-model="control.hilton" name="hilton"></td><td>&pound;/night</td>
						</tr>
					</tbody>
					</table>

					<h3>Filter</h3>
					<ul class="nav nav-sidebar">
						<li><a href="" ng-click="comparator = '';">All Cards <span class="sr-only">(current)</span></a></li>
						<li><a href="" ng-click="comparator = 'amex';">American Express</a></li>
						<li><a href="" ng-click="comparator = 'avios';">Avios</a></li>
					</ul>		
				</div>
				<div class="col-sm-9 col-sm-offset-3 main">

					<h2 class="sub-header">Recommended Cards</h2>
					<div class="row placeholders">
						<div class="col-xs-6 col-sm-3 placeholder" ng-repeat="card in cards | orderBy:'-bonusValue'" ng-if="$index < 4">
						<a href="{{ card.cardURL }}" title="{{ card.cardName }}"><img height="177" width="284" src="images/{{ card.imageName }}" class="img-responsive" alt="{{ card.cardName }}"></a>
						<h4>{{ card.cardName }}</h4>
						<span class="text-muted">{{ card.cardBonus }} {{ card.bonusCurrency }}</span>
						</div>
					</div>

					<h2 class="sub-header">Compare Cards</h2>
			        <div class="table-responsive">
			          <table class="table table-striped">
			            <thead>
			              <tr>
			                <th colspan="2"><a href="" ng-click="predicate = '-cardName'; reverse=!reverse;">Credit Card</a></th>
			                <th><a href="" ng-click="predicate = 'cardFee'; reverse=!reverse;">Fee</a></th>
			                <th><a href="" ng-click="predicate = 'bonusValue'; reverse=!reverse;">Bonus</a></th>
			                <th><a href="" ng-click="predicate = 'minSpend'; reverse=!reverse;">Minimum Spend</a></th>
			                <th><a href="" ng-click="predicate = '-spendTimeLimit'; reverse=false;">Time Limit</a></th>
			                <th>Application Link</th>

			              </tr>
			            </thead>
			            <tbody>
			              <tr ng-repeat="card in cards | orderBy:predicate:reverse | filter: { bonusCurrency: comparator }">
			                <td><img height="100" width="160" src="images/{{ card.imageName }}" class="img-responsive" alt="{{ card.cardName }}"></td>
			                <td>{{ card.cardName }}</td>
			                <td>&pound;{{ card.cardFee }} </td>
			                <td>{{ card.cardBonus }} {{ card.bonusCurrency }}</td>
			                <td>&pound;{{ card.minSpend }}</td>
			                <td>{{ card.spendTimeLimit }} days</td>
			                <td><a href="{{ card.cardURL }}" title="{{ card.cardName }}">Apply now</a></td>
			              </tr>
			            </tbody>
			          </table>
			          <p><small>Copyright &copy; <a href="http://www.johncpeden.com" title="John Peden Ltd">John Peden Ltd</a></small></p>
			        </div>
				</div>
			</div>
		</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	</body>
</html>
